////////////	<- this is comments
// Icons
////////////

101  ICON  MOVEABLE PURE   "window_view_BN.ico"
102  ICON  MOVEABLE PURE   "window_earth_BN.ico"
103  ICON  MOVEABLE PURE   "window_add_BN.ico"
104  ICON  MOVEABLE PURE   "window_edit_BN.ico"
105  ICON  MOVEABLE PURE   "window_delete_BN.ico"
106  ICON  MOVEABLE PURE   "primer_BN.ico"
107  ICON  MOVEABLE PURE   "anterior_BN.ico"
108  ICON  MOVEABLE PURE   "següent_BN.ico"
109  ICON  MOVEABLE PURE   "últim_BN.ico"
110  ICON  MOVEABLE PURE   "editar_BN.ico"
111  ICON  MOVEABLE PURE   "documents_BN.ico"
112  ICON  MOVEABLE PURE   "check_BN.ico"
113  ICON  MOVEABLE PURE   "disk_blue_BN.ico"
114  ICON  MOVEABLE PURE   "eliminar_BN.ico"
115  ICON  MOVEABLE PURE   "eixir_BN.ico"
116  ICON  MOVEABLE PURE   "imprimir_BN.ico"
117  ICON  MOVEABLE PURE   "users1_BN.ico"
118  ICON  MOVEABLE PURE   "undo_BN.ico"
119  ICON  MOVEABLE PURE   "find_BN.ico"
120  ICON  MOVEABLE PURE   "mail_BN.ico"
121  ICON  MOVEABLE PURE   "window_gear_BN.ico" 
122  ICON  MOVEABLE PURE   "calculator_BN.ico"
123  ICON  MOVEABLE PURE   "calendar_BN.ico"
124  ICON  MOVEABLE PURE   "document_view_BN.ico"
125  ICON  MOVEABLE PURE   "books_BN.ico"
126  ICON  MOVEABLE PURE   "contract_BN.ico"
127  ICON  MOVEABLE PURE   "wrench_BN.ico"
128  ICON  MOVEABLE PURE   "book_blue_BN.ico"
129  ICON  MOVEABLE PURE   "index_BN.ico"
130  ICON  MOVEABLE PURE   "pin_blue_BN.ico"
131  ICON  MOVEABLE PURE   "conters_BN.ico"
132  ICON  MOVEABLE PURE   "document_into_BN.ico"
133  ICON  MOVEABLE PURE   "copy_BN.ico"
134  ICON  MOVEABLE PURE   "branch_BN.ico"
135  ICON  MOVEABLE PURE   "workstation1_BN.ico"
136  ICON  MOVEABLE PURE   "toolbox_BN.ico"
137  ICON  MOVEABLE PURE   "index_up_BN.ico"
138  ICON  MOVEABLE PURE   "index_down_BN.ico"
139  ICON  MOVEABLE PURE   "desktop_BN.ico"
140  ICON  MOVEABLE PURE   "printer3_BN.ico"
141  ICON  MOVEABLE PURE   "message_BN.ico"
142  ICON  MOVEABLE PURE   "data_gear_BN.ico"
143  ICON  MOVEABLE PURE   "documents_preferences_BN.ico"
144  ICON  MOVEABLE PURE   "document_text_BN.ico"
145  ICON  MOVEABLE PURE   "users_family_BN.ico"
