////////////	<- this is comments
// Icons
////////////

101  ICON  MOVEABLE PURE   "window_view_OM.ico"
102  ICON  MOVEABLE PURE   "window_earth_OM.ico"
103  ICON  MOVEABLE PURE   "window_add_OM.ico"
104  ICON  MOVEABLE PURE   "window_edit_OM.ico"
105  ICON  MOVEABLE PURE   "window_delete_OM.ico"
106  ICON  MOVEABLE PURE   "primer_OM.ico"
107  ICON  MOVEABLE PURE   "anterior_OM.ico"
108  ICON  MOVEABLE PURE   "següent_OM.ico"
109  ICON  MOVEABLE PURE   "últim_OM.ico"
110  ICON  MOVEABLE PURE   "editar_OM.ico"
111  ICON  MOVEABLE PURE   "documents_OM.ico"
112  ICON  MOVEABLE PURE   "check_OM.ico"
113  ICON  MOVEABLE PURE   "disk_blue_OM.ico"
114  ICON  MOVEABLE PURE   "eliminar_OM.ico"
115  ICON  MOVEABLE PURE   "eixir_OM.ico"
116  ICON  MOVEABLE PURE   "imprimir_OM.ico"
117  ICON  MOVEABLE PURE   "users1_OM.ico"
118  ICON  MOVEABLE PURE   "undo_OM.ico"
119  ICON  MOVEABLE PURE   "buscar_OM.ico"
120  ICON  MOVEABLE PURE   "mail_OM.ico"
121  ICON  MOVEABLE PURE   "window_gear_OM.ico" 
122  ICON  MOVEABLE PURE   "calculator_OM.ico"
123  ICON  MOVEABLE PURE   "calendar_OM.ico"
124  ICON  MOVEABLE PURE   "document_view_OM.ico"
125  ICON  MOVEABLE PURE   "books_OM.ico"
126  ICON  MOVEABLE PURE   "contract_OM.ico"
127  ICON  MOVEABLE PURE   "wrench_OM.ico"
128  ICON  MOVEABLE PURE   "book_blue_OM.ico"
129  ICON  MOVEABLE PURE   "index_OM.ico"
130  ICON  MOVEABLE PURE   "pin_blue_OM.ico"
131  ICON  MOVEABLE PURE   "conters_OM.ico"
132  ICON  MOVEABLE PURE   "document_into_OM.ico"
133  ICON  MOVEABLE PURE   "copy_OM.ico"
134  ICON  MOVEABLE PURE   "branch_OM.ico"
135  ICON  MOVEABLE PURE   "workstation1_OM.ico"
136  ICON  MOVEABLE PURE   "toolbox_OM.ico"
137  ICON  MOVEABLE PURE   "index_up_OM.ico"
138  ICON  MOVEABLE PURE   "index_down_OM.ico"
139  ICON  MOVEABLE PURE   "desktop_OM.ico"
140  ICON  MOVEABLE PURE   "printer3_OM.ico"
141  ICON  MOVEABLE PURE   "message_OM.ico"
142  ICON  MOVEABLE PURE   "data_gear_OM.ico"
143  ICON  MOVEABLE PURE   "documents_preferences_OM.ico"
144  ICON  MOVEABLE PURE   "document_text_OM.ico"
145  ICON  MOVEABLE PURE   "users_family_OM.ico"
146  ICON  MOVEABLE PURE   "find_OM.ico"